beir
html2text
beautifulsoup4
voyageai
pyext
transformers==4.40.0
jsonlines
rank_bm25
tenacity
openai
tiktoken
fastwarc
vllm
chardet
unidiff
GitPython
evaluate
requests
elasticsearch
accelerate
editdistance
litellm
google-generativeai