beir
html2text
beautifulsoup4
voyageai
pyext
transformers==4.51.3
datasets==3.6.0
jsonlines
rank_bm25
tenacity
openai
tiktoken
fastwarc
vllm==0.9.2
chardet
unidiff
GitPython
evaluate
requests
elasticsearch
accelerate
editdistance
litellm==1.40.8
google-generativeai
matplotlib
tensorflow-cpu
scipy
scikit-learn